<ion-view title="{{activity.caption}}">
  <ion-content has-header="true" padding="false">
    <div class="list">
      <div class="item item-avatar">
        <img src="{{activity.avatar}}">
        <h2>{{activity.media.caption}}</h2>
        <p><a href="">{{activity.username}}</a></p>
        <p>{{activity.created | prettyDate}}</p>
      </div>
      <div class="item item-body">
        <img class="full-image" ng-src="{{activity.media.url}}" ng-show="activity.media.type == 'image/jpeg'">
        <video class="full-image" ng-show="activity.media.type != 'image/jpeg'"
               webkit-playsinline controls>
          <source src="{{mediaUrl}}"
                  type="{{activity.media.type}}">
            Your browser does not support the video tag.
        </video>
        <p>
          <a class="subdued">
            <i class="icon ion-ios7-heart-outline"></i> 
            {{activity.likes.length}} Likes
          </a>
          <a class="subdued">
            <i class="icon ion-ios7-chatbubble-outline"></i> 
            {{activity.comments.length}} Comments
          </a>
        </p>
      </div>
      <div class="list">
        <div class="item item-input-inset">
          <button class="button button-icon icon"
                  ng-class="{'ion-ios7-heart': activity.liked, 'ion-ios7-heart-outline': !activity.liked}"
                  ng-click="toggleLike()">
          </button>
          <label class="item-input-wrapper">
            <input type="text" placeholder="Comment" ng-model="activity.comment">
            <!-- <i class="icon ion-ios7-close placeholder-icon"
               ng-click="clearComment()"></i> -->
          </label>
          <button class="button button-icon icon ion-arrow-right-b"
             ng-click="submitComment()"
             ng-disabled="!activity.comment">
          </button>
        </div>
        <div ng-repeat="comment in activity.comments" class="item item-avatar">
          <img src="{{comment.actor.picture}}">
          <p><a href="">{{comment.actor.username}}</a> posted {{comment.created | prettyDate}}</p>
          <p>{{comment.content}}</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
