<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'firend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="{{activity.caption}}">
  <ion-content has-header="true" padding="true">
    <div class="list card">
      <div class="item item-avatar">
        <img src="{{activity.avatar}}">
        <h2>{{activity.media.caption}}</h2>
        <div>{{activity.formattedTime}}</div>
      </div>
      <div class="item item-image">
        <img class="full-image" src="{{activity.media.url}}">
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" ng-click="like()">
          <i class="icon ion-thumbsup"></i>
          {{activity.likes.length}}
        </a>
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input type="text" placeholder="Comment" ng-model="activity.comment">
            <i class="icon ion-ios7-close placeholder-icon" ng-click="clearComment()"></i>
          </label>
          <button class="button button-small button-assertive" ng-click="submitComment()" ng-disabled="!activity.comment">
            Submit
          </button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
