<ion-view title="{{post.media.description}}">
  <ion-content has-header="true" padding="false">
    <div class="list">
      <div class="item item-avatar">
        <img ng-src="{{post.user.picture}}">
        <p>
          <a class="subdued" ng-href="#/tab/posts/users/{{post.user.id}}">{{post.user.displayName}}</a> at 
          <!-- <a ng-href="#/tab/hotbars/{{post.hotbar.id}}">{{post.hotbar.name}}</a> -->
          {{post.hotbar.name}}
        </p>
        <p>{{post.createdAt | prettyDate}}</p>
      </div>
      <div class="item item-body">
        <img class="full-image" ng-src="{{post.media.url}}" ng-click="openModal()"
             ng-show="post.media.type === 'image/jpeg'"></img>
        <div class="video-container" ng-show="post.media.type !== 'image/jpeg'">
          <iframe ng-src="{{post.media.secUrl}}" frameborder="0" autoplay="false" allowfullscreen>
          </iframe>
        </div>
        <!-- <video id="video1" class="full-image" preload="metadata" controls webkit-playsinline onclick="play()"
          ng-show="post.media.type !== 'image/jpeg'" ng-src="{{post.media.secUrl}}"
          ng-poster="{{post.media.thumbnailUrl}}">
          Your browser does not support HTML5 video.
        </video> -->
        <div class="row">
          <div class="col col-80">
          <a class="subdued">
            <i class="icon ion-ios7-heart-outline"></i> 
            {{post.likes.length}} Likes
          </a>
          <a class="subdued">
            <i class="icon ion-ios7-chatbubble-outline"></i>
            {{post.comments.length}} Comments
          </a>
          </div>
          <div>
            <a class="subdued" ng-click="deletePost()">
              Delete
            </a>
          </div>
        </div>
      </div>
      <div class="list">
        <div class="item item-input">
          <button class="button button-icon icon"
                  ng-class="{'ion-ios7-heart': post.liked, 'ion-ios7-heart-outline': !post.liked}"
                  ng-click="toggleLike()">
          </button>
          <label class="item-input-wrapper">
            <input type="text" placeholder="Comment" ng-model="post.comment">
            <!-- <button ng-show="post.comment.length > 0" class="button button-icon ion-android-close input-button"
                    ng-click="clearComment()">
            </button> -->
          </label>
          <button class="button-icon icon ion-ios7-close"
                  ng-show="post.comment.length > 0"
                  ng-click="post.comment = ''">
          </button>
          <button class="button-icon icon ion-ios7-checkmark"
                  ng-disabled="!post.comment" ng-click="submitComment(post.comment)">
          </button>
        </div>
        <div ng-repeat="comment in post.comments" class="item item-avatar item-button-right">
          <img ng-src="{{comment.user.picture}}">
          <button class="button button-icon icon ion-ios7-close-empty" ng-show="user.id === comment.user.id"
                  ng-click="deleteComment($index)">
          </button>
          <p><a href="#/tab/posts/users/{{comment.user.id}}">
            {{comment.user.displayName}}</a> posted {{comment.createdAt | prettyDate}}
          </p>
          <p>{{comment.get('content')}}</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
