<ion-view title="RETRIEVE YOUR PASSWORD">
  <ion-content class="has-header padding">
    <div class="stable">
      Please supply your email and a temporary password will be sent to your email box.
    </div>
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-ios7-email-outline placeholder-icon"></i>
        <input type="email" placeholder="Email" ng-model="email" required>
      </label>
    </div>
    <button class="button button-full button-assertive" ng-click="getPassword()">
      GET PASSWORD
    </button>
  </ion-content>
</ion-view>