<ion-view title="CREATE YOUR ACCOUNT">
  <ion-content class="has-header padding">
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-ios7-person-outline placeholder-icon"></i>
        <input type="text" placeholder="Username (Required)" required ng-model="user.username">
      </label>
      <label class="item item-input">
        <i class="icon ion-ios7-email-outline placeholder-icon"></i>
        <input type="email" placeholder="E-Mail (Required)" required ng-model="user.email">
      </label>
      <label class="item item-input">
        <i class="icon ion-ios7-locked-outline placeholder-icon"></i>
        <input type="password" placeholder="Password (Required)" required ng-model="user.password">
      </label>
      <label class="item item-input">
        <i class="icon ion-ios7-personadd-outline placeholder-icon"></i>
        <input type="text" placeholder="Name (Optional)" ng-model="user.name">
      </label>
    </div>
    <div class="item item-checkbox terms-label">
      <label class="checkbox checkbox-assertive">
        <input type="checkbox" ng-model="checked">
      </label>
      I agree to <a href="">User Agreement & Terms of Use</a>
    </div>
    <button class="button button-full button-assertive"
            ng-disabled="!checked"
            ng-click="signup(user)">
      SIGN UP
    </button>

    <!-- <div>
      <label for="terms" class="terms-label"></label>
      <div class="terms-container terms-text" id="terms">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam no nummy nibh euismod tincidunt ut laoreet dolore magn euismod tincidunt ut laoreet dolore magn
      </div>
    </div>
    <div class="row">
      <div class="col">
      </div>
      <div class="col" align="right">
        <button class="button button-default button-assertive"
                ng-disabled="!checked"
                ng-click="signup(user)">
          SIGN UP
        </button>
      </div>
    </div> -->
  </ion-content>
</ion-view>
