<ion-view title="{{spark.description}}">
  <ion-content has-header="true" padding="false">
    <div class="list">
      <div class="item item-avatar">
        <img src="{{spark.author.avatar}}">
        <h2>{{spark.media.caption}}</h2>
        <p><a href="">{{spark.author.username}}</a></p>
        <p>{{spark.created | prettyDate}}</p>
      </div>
      <div class="item item-body">
        <img class="full-image" ng-src="{{spark.media.url}}" 
             ng-show="spark.media.type == 'image/jpeg'">
        <video class="full-image" ng-show="spark.media.type != 'image/jpeg'"
               onclick="this.play()" controls>
          <source src="{{mediaUrl}}">
          Your browser does not support the video tag.
        </video>
        <p>
          <a class="subdued">
            <i class="icon ion-ios7-heart-outline"></i> 
            {{spark.likes.length}} Likes
          </a>
          <a class="subdued">
            <i class="icon ion-ios7-chatbubble-outline"></i> 
            {{spark.comments.length}} Comments
          </a>
        </p>
      </div>
      <div class="list">
        <div class="item item-input-inset">
          <button class="button button-icon icon"
                  ng-class="{'ion-ios7-heart': spark.liked, 'ion-ios7-heart-outline': !spark.liked}"
                  ng-click="toggleLike()">
          </button>
          <label class="item-input-wrapper">
            <input type="text" placeholder="Comment" ng-model="spark.comment">
            <!-- <i class="icon ion-ios7-close placeholder-icon"
               ng-click="clearComment()"></i> -->
          </label>
          <button class="button-icon icon ion-checkmark-round"
                  ng-disabled="!spark.comment" ng-click="submitComment()">
          </button>
          <button class="button-icon icon ion-close-round"
                  ng-disabled="!spark.comment"
                  ng-click="clearComment()">
          </button>
        </div>
        <div ng-repeat="comment in spark.comments" class="item item-avatar">
          <img src="{{comment.actor.picture}}">
          <p><a href="">{{comment.actor.username}}</a> posted {{comment.created | prettyDate}}</p>
          <p>{{comment.content}}</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
