<script id="change-password-modal.html" type="text/ng-template">
  <div class="modal">
    <ion-header-bar class="bar bar-header bar-assertive">
      <h1 class="title">Change Password</h1>
    </ion-header-bar>
    <ion-content>
      <div class="padding">
      <div class="list">
        <label class="item item-input">
          <i class="icon ion-ios7-locked-outline placeholder-icon"></i>
          <input ng-model="currentPassword" type="password"
                 placeholder="Current Password">
        </label>
        <label class="item item-input">
          <i class="icon ion-ios7-locked-outline placeholder-icon"></i>
          <input ng-model="newPassword" type="password"
                 placeholder="New Password">
        </label>
        <div class="row">
          <div class="col col-50">
            <button class="button button-full button-assertive"
                    ng-disabled="!currentPassword || !newPassword"
                    ng-click="changePassword(currentPassword, newPassword)">
              SUBMIT
            </button>
          </div>
          <div class="col col-50">
            <button class="button button-full button-assertive"
                    ng-click="passwordModal.hide()">
              CANCEL
            </button>
          </div>
        </div>
      </div>
      </div>
    </ion-content>
  </div>
</script>
<script id="user-agreement-modal.html" type="text/ng-template">
  <div class="modal">
    <ion-header-bar class="bar bar-header bar-assertive">
      <h1 class="title">User Agreement & Terms of Use</h1>
      <div class="button button-clear" ng-click="userAgreementModal.hide()">
        <span class="ion-close-round"></span>
      </div>
    </ion-header-bar>
    <ion-content padding="true">
      <div class="list">
        <div class="item">
        <pre class="terms-text">
Welcome to a HOTBAR! A free social-media application to it’s users.

HotBar is a platform designed to bring users and bar establishments together to help enhance the customer and hosting experiences. This is free software that can be downloaded via your mobile device’s applications store or by various other means.

By registering with HotBar, you are confirming that you are of a minimum age of 18 years old and considered an adult by United States Law.

HotBar provides an interface to share and collect data as exhibited with your local city’s nightlife. We provide the closest means of live streaming feeds of what is actually occurring at certain bars at measurable hours of the evening. This service constitutes (but is not limited to) bar pictures and videos from the hours of 9pm-2:30 am EST, Thursday-Sunday.

By using this service, you (the user) understand and agree that context and images will be available to the public once submitted on the HotBar interface. HotBar is not responsible for any slander or defamation of individuals or establishments that may be brought about by violating users. HotBar’s “all-hour” watch program will monitor users and mitigate any type of “non-compliant” usage.

HotBar reserves the right to terminate any account at any given time should a scenario arise that meets “adequate” means of termination.

Under no circumstances will HotBar be held liable for any damages or defamation of any kind that are brought about by direct or indirect means. We (HotBar and it’s employees) are exempt from any liability regarding economic, exemplary, consequential, monetary, emotional, and punitive damages that may be brought by interacting on this free software’s interface.

Arbitration information: By downloading and accepting the terms and agreements you hereby understand that any disputes brought about by users/vendors/ or Hotbar or will be resolved with HotBar only. The right to litigate or partake in a class action suit or class wide arbitration is revoked by clicking “accept” on terms and agreements.

You may not post any discriminatory, nude, suggestively sexual, or illegal activity suggesting material to the HotBar interface.

You won’t collect or use other user’s information that are a part of this application.

We (HotBar) reserve the right to refuse or terminate the service to anyone (user or vendor) at any given time.

Conduct falls in the hands of the user and violation of the above demands are grounds for immediate expulsion.

This service provides 3rd party contextual information that HotBar is not responsible for however works its best means to mediate and restrict any wrongful or violating content/context.

There will be no outside solicitation on HotBar unless approved by the HotBar program. You may not post URLS, domains, or advertising media without the prior consent of HotBar.

Harassment of users will not be allowed and if found responsible amongst users, the offense or defamation falls in the responsibility of those particular certain users.

You as a HotBar member are the sole owner of your context, images, and tagging. Any violation to an establishment or users wrongdoings will land sole responsibility to that particular party or parties involved.

You may not create or generate an account for anybody but yourself unless granted permission from HotBar in advance.

You will not interfere with the interface on the HotBar platform by any means including but not limitetd to malware, viruses, or spyware.

HotBar will not sell or rent out user information to 3rd parties. It will remain secure in our database solely for the Use of HotBar and it’s parent company.

Any Data charges incurred from this service are the user’s own responsibility.

There is no automated data extraction allowed by but not limited to “scraping,” or any other means of bot technologies.

Any modification to the terms and agreements will be sent to you atleast 24 hours in advance of the new release.

The user understands that alcohol is a depressant that affects human reason and judgment. Any wrongful or violating actions posted to HotBar that violate user’s agreements are subject to immediate termination and phone number blacklisting.

As a user your hereby waive the rights of the civil code of California in the benefits of Section 1542 and or any similar laws particular to anyone of the 50 U.S states which states the following: “A general release does not extend to claims which the  party contextual information that HotBar is not creditor does not know or suspect to exist in his favor at the time of executing the release, which if known by him must have materially affected his settlement with the debtor.”

You the user own all posts brought to the social interface by your account. You are responsible for it’s ethical and compliant followings.

Thank you for choosing HotBar, now go see what’s going on in your city and have a fun but most importantly safe evening!
        </pre>
        </div>
      </div>
    </ion-content>
  </div>
</script>
<ion-view title="ACCOUNT">
  <ion-content has-header="true" padding="false">
    <div>
      <div class="list">
        <div class="item item-divider">
          Account Information
        </div>

        <a class="item item-thumbnail-right" ng-click="setProfilePicture()">
          <!-- <ion-profile-picture ng-model="myPicture"> -->
          <img ng-src="{{user.profilePicture}}">
          <span class="input-label">{{user.displayName}}</span>
        </a>

        <div class="item item-input-inset">
          <span class="input-label">Name</span>
          {{user.displayName}}
        </div>
        <div class="item item-input-inset">
          <span class="input-label">Email</span>
          {{user.email}}
        </div>
        <!-- <label class="item item-input-inset">
          <span class="input-label">Password</span>
          <button class="button button-small button-clear button-assertive"
                  ng-click="passwordModal.show()">
            Change Password
          </button>
        </label> -->
        <div class="item item-divider">
          Activities
        </div>
        <a class="item" ng-click="">
          Posts
          <span class="badge">{{user.posts.length}}</span>
        </a>
        <a class="item" ng-click="">
          Following HotBars
          <span class="badge">{{user.followings.length}}</span>
        </a>
        <a class="item item-thumbnail-right" ng-click="setCoverPicture()">
          <img ng-src="{{user.coverPicture}}">
          <span class="input-label">Home Cover Photo</span>
        </a>
        <div class="item item-divider">
          HotBar Settings
        </div>
        <div class="item item-input-inset">
          <span class="input-label">Search Distance(miles)</span>
          <input class="item-input-wrapper" type="number" min="0.1" max="50" ng-model="user.radius">
        </div>
        <div class="item item-input-inset" ng-show="user.hotbar">
          <span class="input-label">News and Updates</span>
          <input class="item-input-wrapper" type="text" ng-model="user.hotbarNews">
        </div>
        <!-- <label class="item item-toggle">
          <span class="input-label">Push Notification</span>
          <label class="toggle toggle-assertive">
            <input type="checkbox" ng-model="user.pushNote">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </label> -->
        <div class="item item-divider">
          About
        </div>
        <div class="item">
          <a href="" ng-click="userAgreementModal.show()"
             class="subdued">User Agreement & Terms of Use</a>
        </div>
      </div>
      <div>
        <button class="button button-full button-assertive" ng-click="logout()">
          LOG OUT
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
