<ion-view title="HOME">
  <ion-nav-buttons side="right">
    <!-- <button class="button button-icon icon ion-ios7-camera" ion-popover>
      <ion-list>
        <ion-item class="button button-icon icon ion-ios7-camera"
                  ng-click="captureImage()"></ion-item>
        <ion-item class="button button-icon icon ion-ios7-videocam"
                  ng-click=""></ion-item>
        <ion-item class="button button-icon icon ion-ios7-photos"
                  ng-click="getImage()"></ion-item>
      </ion-list>
    </button> -->
    <button class="button icon ion-ios7-camera"
            ng-click="captureImage()"></button>
    <button class="button icon ion-ios7-videocam"
            ng-click="captureVideo()"></button>
    <!-- <a class="button button-icon icon ion-ios7-photos" href=""
         ng-click="getImage()"></a> -->
  </ion-nav-buttons>
  <!-- <div class="bar bar-subheader">
    <div class="button-bar">
      <button class="button button-icon icon ion-ios7-camera"
              ng-click="captureImage()"></button>
      <button class="button button-icon icon ion-ios7-videocam"></button>
      <button class="button button-icon icon ion-ios7-photos"
              ng-click="getImage()"></button>
    </div>
  </div> -->
  <ion-content has-header="true" padding="false">
    <ion-scroll class="cover">
      <a class="full-image" href="" ng-click="changeCover()">
        <img src="{{coverpicture}}">
      </a>
    </ion-scroll>
    <!-- <div class="card">
      <div class="item">
        <input type="file"
               onchange="angular.element(this).scope().filesChanged(this)"
               multiple />
        <button ng-click="uploadImage()">Upload</button>
      </div>
      <li ng-repeat="file in files">{{file.name}}</li>
    </div> -->
    <div class="list" ng-show="media">
      <div class="item item-body">
        <video class="full-image" ng-show="media.type!='image/jpeg'"
               onclick="this.play()" controls>
          <source src="{{mediaSrc}}">
          Your browser does not support the video tag.
        </video>
        <img class="full-image" ng-src="{{media.data}}"
             ng-show="media.type=='image/jpeg'">
      </div>
      <label class="item item-input-inset item-select">
        <div class="input-label">
          Where're you taking the photo/video?
        </div>
        <select ng-model="media.hotbar">
          <option ng-repeat="hotbar in hotbars" ng-selected="$index == 0">
            {{hotbar.name}}
          </option>
        </select>
      </label>
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="Add Description">
        </label>
        <button class="button button-small icon ion-checkmark-round"
                ng-disabled="!media.hotbar" ng-click="uploadMedia()">
        </button>
        <button class="button button-small icon ion-close-round"
                ng-click="cleanup()">
        </button>
      </div>
    </div>
    <div class="list" ng-show="media == null">
      <a ng-repeat="activity in activities"
         ng-href="#/tab/home/{{activity.uuid}}"
         class="item item-avatar thumb-right">
        <img src="{{activity.avatar}}">
        <h2>{{activity.media.caption}}</h2>
        <p>{{activity.username}}</p>
        <p>{{activity.created | prettyDate}}</p>
        <img ng-src="{{activity.media.type === 'image/jpeg' ? activity.media.url : 'img/genericvideoicon.jpg'}}">
      </a>
    </div>
  </ion-content>
</ion-view>
