<ion-view title="MEDIA">
  <ion-content has-header="true" padding="true">
    <div class="cards">
      <a class="item item-thumbnail-left"
         collection-repeat="m in media"
         collection-item-width="'100%'"
         collection-item-height="100"
         ng-style="{height:100}"
         ng-href="#/tab/media/{{m.uuid}}">
        <img src="{{m.thumbnail_url}}"></img>
        <h2>{{m.caption}}</h2>
        <p>{{m.createdTime}}</p>
        <p>{{m.user.username}} was at {{m.bar.name}}</p>
      </a>
    </div>
  </ion-content>
</ion-view>
