<ion-view title="HOME">
  <ion-content class="has-header padding">
    <div class="row home_header">
      <div class="col col-33 user-photo"><i class="icon ion-person"></i><h2>hello</h2></div>
      <div class="col col-66">
        <div class="row">
          <div class="col col-33">
            <button class="button button-icon icon ion-ios7-camera" ng-click="captureImage()"></button>
          </div>
          <div class="col col-33">
            <button class="button button-icon icon ion-ios7-videocam" ng-click="captureVideo()"></button>
          </div>
          <div class="col col-33">
            <button class="button button-icon icon ion-ios7-photos" ng-click="getImage()"></button>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="card">
      <div class="item">
        <input type="file"
               onchange="angular.element(this).scope().filesChanged(this)"
               multiple />
        <button ng-click="uploadImage()">Upload</button>
      </div>
      <li ng-repeat="file in files">{{file.name}}</li>
    </div> -->
    <div class="list list-inset" ng-show="media">
      <div class="item item-input">
        <input type="text" placeholder="Caption" ng-model="media.caption">
      </div>
      <div class="item item-image">
        <img class="full-image" ng-src="{{media.data}}">
      </div>
      <div class="item row">
        <div class="col col-50">
          <button class="button button-full button-assertive" ng-click="uploadMedia()">Upload</button>
        </div>
        <div class="col col-50">
          <button class="button button-full button-assertive" ng-click="cancelUpload()">Cancel</button>
        </div>
      </div>
      <div class="item"><p>{{message}}</p></div>
    </div>
    <div class="list card" ng-hide="media">
      <div class="item item-avatar">
        <h2>Hot Bar</h2>
        <p>May 31, 2014</p>
      </div>
      <div class="item item-body">
        <img class="full-image" ng-src="img/temp/start_img.png">
        <div class="item tabs tabs-secondary tabs-icon-left">
          <div class="tab-item">
            <i class="icon ion-thumbsup"></i>
            31
          </div>
          <div class="tab-item">
            <i class="icon ion-chatbox"></i>
            6
          </div>
        </div>
        <!-- <div class="row">
          <div class="col col-80">
            <div class="ui-heart-num">
              <i class="icon ion-heart"></i><span>101</span>
            </div>
            <div class="ui-comment-num">
              <i class="icon ion-chatbubble"></i><span>3</span>
            </div>
          </div>
          <div class="col col-20 ui-time-ago">31 mins ago</div>
        </div> -->
      </div>
    </div>
  </ion-content>
</ion-view>
