<ion-view title="ACCOUNT">
  <ion-content has-header="true" padding="true">
    <div>
      <!--
          number of posts
          bars checked in
          
        -->
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="Username">
        </label>
        <label class="item item-input">
          <input type="email" placeholder="E-Mail">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Name">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Password">
        </label>
        <button class="button button-full button-assertive" ng-click="update()">
          UPDATE
        </button>
        <button class="button button-full button-assertive" ng-click="logout()">
          LOG OUT
        </button>
        <!-- <label>Password</label>
        <a href="#popup_change_password" data-rel="popup"  id="profile_change_password" class="ui-btn-red" style="margin-top: 10px" data-transition="pop" data-position-to="window">Change</a>
        
        <div data-role="popup" id="popup_change_password" data-overlay-theme="b">
          <div class="ui-input-container">
            <label for="profile_curpassword">Current Password</label>
            <div class="ui-input-text-icon">
              <input type="password" id="profile_curpassword">
              <img src="images/icon_pass.png">
            </div>
            <label for="profile_newpassword">New Password</label>
            <div class="ui-input-text-icon">
              <input type="password" id="profile_newpassword">
              <img src="images/icon_pass.png">
            </div>
            <label for="profile_conpassword">Confirm Password</label>
            <div class="ui-input-text-icon">
              <input type="password" id="profile_conpassword">
              <img src="images/icon_pass.png">
            </div>
            <div class="ui-grid-a">
              <div class="ui-block-a"><a href="#" id="confirm_change_password" class="ui-btn-red">Confirm</a></div>
              <div class="ui-block-b"><a href="#" data-rel="back" class="ui-btn-red">Cancel</a></div>
            </div>
          </div>
        </div> 
      </div>
    </div> -->
    <!-- <div id="edit_profile_container">
      <div id="preview_user_photo"><img src="images/no_photo.png"></div>
      <div style="text-align:center;margin:0">
        <a href="javascript:capturePhotoEdit();" id="user_take_photo" class="ui-btn-red">Take Photo</a>
        <a href="javascript:getPhoto(pictureSource.PHOTOLIBRARY);" id="user_choose_photo" class="ui-btn-green">Choose from Library</a>
      </div>
      <div class="ui-input-container">
        <label for="profile_username">Username</label>
        <div class="ui-input-text-icon">
          <input type="text" id="profile_username" placeholder="sreekanth">
          <img src="images/icon_user.png">
        </div>
        <label for="profile_emailaddr">E mail</label>
        <div class="ui-input-text-icon">
          <input type="text" id="profile_emailaddr" placeholder="E mail">
          <img src="images/icon_email.png">
        </div>
        <label for="profile_name">Name</label>
        <div class="ui-input-text-icon">
          <input type="text" id="profile_name" placeholder="sreekanth">
          <img src="images/icon_user.png">
        </div>
      </div>
    </div> -->
  </ion-content>
</ion-view>
