<ion-view title="ACCOUNT">
  <ion-content has-header="true" padding="true">
    <div>
      <div class="list">
        <div class="item item-divider">
          Activities
        </div>
        <label class="item item-input-inset">
          <span class="input-label">Posts</span>
          <input type="number" ng-model="user.posts.length"
                 ng-disabled="true">
        </label>
        <label class="item item-input-inset">
          <span class="input-label">Following HotBars</span>
          <input type="number" ng-model="user.followingHotbars.length"
                 ng-disabled="true">
        </label>
        <div class="item item-divider">
          Account Information
        </div>
        <label class="item item-input-inset">
          <span class="input-label">Username</span>
          <input type="text" ng-model="user.username" ng-disabled="true">
        </label>
        <label class="item item-input-inset">
          <span class="input-label">Email</span>
          <input type="email" ng-model="user.email" ng-disabled="true">
        </label>
        <label class="item item-input-inset">
          <span class="input-label">Name</span>
          <input type="text" ng-model="user.name">
        </label>
        <label class="item item-input-inset">
          <span class="input-label">Password</span>
          <button class="button button-clear button-assertive">
            Change Password
          </button>
        </label>
        <div class="item item-divider">
          HotBar Settings
        </div>
        <label class="item item-input">
          <span class="input-label">HotBar Search Radius</span>
          <input type="number" min="0.1" max="50" ng-model="user.radius">
          <span class="input-label">miles</span>
        </label>
        <label class="item item-toggle">
          <span class="input-label">Push Notification</span>
          <label class="toggle toggle-assertive">
            <input type="checkbox" ng-model="user.pushNote">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </label>
        <div class="item item-divider">
          About
        </div>
        <div class="item">
          <a href="" class="subdued">User Agreement & Terms of Use</a>
        </div>
      </div>
      <div>
        <!-- <button class="button button-full button-assertive" ng-click="update()">
          UPDATE
        </button> -->
        <button class="button button-full button-assertive" ng-click="logout()">
          LOG OUT
        </button>
      <!-- <label>Password</label>
        <a href="#popup_change_password" data-rel="popup"  id="profile_change_password" class="ui-btn-red" style="margin-top: 10px" data-transition="pop" data-position-to="window">Change</a>
        
        <div data-role="popup" id="popup_change_password" data-overlay-theme="b">
          <div class="ui-input-container">
            <label for="profile_curpassword">Current Password</label>
            <div class="ui-input-text-icon">
              <input type="password" id="profile_curpassword">
              <img src="images/icon_pass.png">
            </div>
            <label for="profile_newpassword">New Password</label>
            <div class="ui-input-text-icon">
              <input type="password" id="profile_newpassword">
              <img src="images/icon_pass.png">
            </div>
            <label for="profile_conpassword">Confirm Password</label>
            <div class="ui-input-text-icon">
              <input type="password" id="profile_conpassword">
              <img src="images/icon_pass.png">
            </div>
            <div class="ui-grid-a">
              <div class="ui-block-a"><a href="#" id="confirm_change_password" class="ui-btn-red">Confirm</a></div>
              <div class="ui-block-b"><a href="#" data-rel="back" class="ui-btn-red">Cancel</a></div>
            </div>
          </div>
        </div> 
      </div>
    </div> -->
    <!-- <div id="edit_profile_container">
      <div id="preview_user_photo"><img src="images/no_photo.png"></div>
      <div style="text-align:center;margin:0">
        <a href="javascript:capturePhotoEdit();" id="user_take_photo" class="ui-btn-red">Take Photo</a>
        <a href="javascript:getPhoto(pictureSource.PHOTOLIBRARY);" id="user_choose_photo" class="ui-btn-green">Choose from Library</a>
      </div>
      <div class="ui-input-container">
        <label for="profile_username">Username</label>
        <div class="ui-input-text-icon">
          <input type="text" id="profile_username" placeholder="sreekanth">
          <img src="images/icon_user.png">
        </div>
        <label for="profile_emailaddr">E mail</label>
        <div class="ui-input-text-icon">
          <input type="text" id="profile_emailaddr" placeholder="E mail">
          <img src="images/icon_email.png">
        </div>
        <label for="profile_name">Name</label>
        <div class="ui-input-text-icon">
          <input type="text" id="profile_name" placeholder="sreekanth">
          <img src="images/icon_user.png">
        </div>
      </div>
    </div> -->
  </ion-content>
</ion-view>
