<ion-view title="HOME">
  <ion-content has-header="true" padding="true">
    <div class="row home_header">
      <div class="col col-33 user-photo"><i class="icon ion-person"></i></div>
      <div class="col col-66">
        <div class="row">
          <div class="col col-33">
            <button class="button button-icon icon ion-ios7-camera" ng-click="captureImage()"></button>
          </div>
          <!-- <div class="col col-33">
            <button class="button button-icon icon ion-ios7-videocam" ng-click="captureVideo()"></button>
          </div> -->
          <div class="col col-33">
            <button class="button button-icon icon ion-ios7-photos" ng-click="getImage()"></button>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="card">
      <div class="item">
        <input type="file"
               onchange="angular.element(this).scope().filesChanged(this)"
               multiple />
        <button ng-click="uploadImage()">Upload</button>
      </div>
      <li ng-repeat="file in files">{{file.name}}</li>
    </div> -->
    <div class="list" ng-show="media">
      <div class="item item-input">
        <input type="text" placeholder="Caption" ng-model="media.caption">
      </div>
      <div class="item item-body">
        <!-- <img class="full-image" src="{{media.path}}"> -->
        <video width="320" height="240" ng-show="media.type!='image/jpeg'">
          <source src="{{media.path}}" type="{{media.type}}" />
          Your browser does not support the video tag.
        </video>
        <img class="full-image" src="{{media.data}}" ng-show="media.type=='image/jpeg'">
      </div>
      <div class="item row">
        <div class="col col-50">
          <button class="button button-full button-assertive" ng-disabled="!media.caption" ng-click="uploadMedia()">Upload</button>
        </div>
        <div class="col col-50">
          <button class="button button-full button-assertive" ng-click="cleanup()">Cancel</button>
        </div>
      </div>
      <div class="item"><p>{{message}}</p></div>
    </div>
    <div class="list" ng-hide="false">
      <div ng-repeat="f in activities">
        <div class="item item-avatar">
          <h2>{{f.media.caption}}</h2>
          <p>{{f.formattedTime}}</p>
        </div>
        <div class="item item-body">
          <img class="full-image" src="{{f.media.url}}">
          <div class="item tabs tabs-secondary tabs-icon-left">
            <div class="tab-item" ng-click="like(f)">
              <i class="icon ion-thumbsup"></i>
              {{f.likes.length}}
            </div>
            <div class="tab-item" ng-click="openModal()">
              <i class="icon ion-chatbox"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
