<ion-view title="LIVE FEED">
  <ion-content has-header="true" padding="false">
  <div class="bar bar-header">
    <div class="title">Comming soon...</div>
  </div>
    <!-- <div class="list">
      <a ng-repeat="post in posts"
         ng-href="#/tab/posts/{{post.id}}"
         class="item item-avatar thumb-right">
        <img ng-src="{{post.user.picture}}">
        <h2>{{post.media.description}}</h2>
        <p>{{post.user.displayName}}</p>
        <p>@ {{post.hotbar.name}}</p>
        <p>{{post.createdAt | prettyDate}}</p>
        <img ng-src="{{post.media.thumbnailUrl}}">
      </a>
    </div> -->
    <div ng-repeat="postgroup in posts" class="row">
      <div ng-repeat="post in postgroup" class="col col-33 col-center nopadding">
        <div class="video">
          <a ng-href="#/tab/posts/{{post.id}}">
            <img class="thumbnail" ng-src="{{post.media.thumbnailUrl}}">
            <div ng-show="post.media.type !== 'image/jpeg'">
              <i class="ion-ios7-videocam assertive"></i>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="bar bar-footer bar-stable">
      <div class="title">Coming soon...</div>
    </div>
  </ion-content>
</ion-view>
