<ion-view title="HOTBARS">
  <ion-content has-header="true" padding="false">
    <ion-list>
      <map on-create="mapCreated(map)"></map>
      <div class="item">
        <!-- <google-map center="map.center" zoom="map.zoom" draggable="true"
                    events="map.events" panControl="map.panControl"
                    scaleControl="map.scaleControl" zoomControl="map.zoomControl"
                    streetViewControl="map.streeViewControl" mapTypeControl="map.mapTypeControl">
        </google-map> -->
      </div>
      <div class="item" ng-show="hotbarAds">
        <p>{{hotbarAds.content}}</p>
      </div>
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input type="search" placeholder="Search" ng-model="search.content">
        </label>
        <button ng-show="search.content.length > 0"
                class="button button-icon ion-ios-close input-button"
                ng-click="clearSearch()">
        </button>
        <button class="button button-clear" ng-click="searchHotbar(search.content)"
                ng-disabled="search.content.length === 0">
          Search
        </button>
      </div>
      <div id="hotbar" class="item item-divider">
        HotBars
      </div>
      <!-- <div class="item" ng-show="hotbars.length == 0">
        <p>No HotBar found nearby. <br />You can change HotBar search distance in your
          <a ng-href="#/tab/account">Settings</a>
        </p>
      </div> -->
      <ion-item ng-repeat="hotbar in hotbars"
                ng-href="#/tab/hotbars/{{hotbar.id}}" type="item-link">
        <h2 class="assertive">{{hotbar.attributes.name}}</h2>
        <p>{{hotbar.attributes.address}}</p>
        <div class="row">
          <a class="subdued">
            <i class="icon ion-ios-location-outline"></i>
            {{hotbar.distance}} miles
          </a>
          <a class="subdued">
            <i class="icon ion-ios-heart-outline"></i> 
            {{hotbar.followers.length}}
          </a>
          <a class="subdued" ng-show="hotbar.rating">
            <i class="icon ion-ios-star-outline"></i> {{hotbar.rating}}/5
          </a>
          <a class="subdued" ng-show="hotbar.openHours">
            <i class="icon ion-ios-clock-outline"></i> {{hotbar.openHours.open_now ? "Open" : "Closed"}}
          </a>
        </div>
      </ion-item>
      <!-- <div class="item">
        <div align="center">
          <a href="" class="subdued" ng-click="loadMore()">
            <i class="icon ion-arrow-down-b"></i>
            Show more
          </a>
        </div>
      </div>
      <div class="item item-divider" ng-show="hotbars.length == 0">
        Other Bars
      </div> -->
      <ion-item ng-repeat="bar in bars" ng-show="hotbars.length == 0"
        ng-href="#/tab/hotbars/{{bar.place_id}}" type="item-link">
        <h2 class="dark">{{bar.name}}</h2>
        <p><a class="subdued">{{bar.vicinity}}</a></p>
        <div class="row">
          <a class="subdued">
            <i class="icon ion-ios-location-outline"></i>
            {{bar.distance}} miles
          </a>
          <a class="subdued" ng-show="bar.rating">
            <i class="icon ion-ios-star-outline"></i> {{bar.rating}}/5
          </a>
          <a class="subdued">
            <i class="icon ion-ios-clock-outline"></i> {{bar.opening_hours.open_now ? "Open" : "Closed"}}
          </a>
        </div>
      </ion-item>
    </ion-list>
    <!-- <ion-infinite-scroll on-infinite="loadMore()" distance="10%">
    </ion-infinite-scroll> -->
  </ion-content>
</ion-view>
