<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="mobi.hotbar" version="0.9.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>HotBar</name>
  <description>
        HotBar App.
    </description>
  <author email="bert.gao@gmail.com" href="http://hotbar.mobi/">
      HotBar Team
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="SplashScreenDelay" value="10000" />
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <platform name="android">
    <icon src="res/android/drawable-hdpi/ic_launcher.png" width="72" height="72" density="hdpi" />
    <icon src="res/android/drawable-ldpi/ic_launcher.png" width="36" height="36" density="ldpi" />
    <icon src="res/android/drawable-mdpi/ic_launcher.png" width="48" height="48" density="mdpi" />
    <icon src="res/android/drawable-xhdpi/ic_launcher.png" width="96" height="96" density="xhdpi" />
    <icon src="res/android/drawable-xxhdpi/ic_launcher.png" width="144" height="144" density="xxhdpi" />

     <!-- you can use any density that exists in the Android project -->
    <splash src="res/android/splash-land-hdpi.png" density="land-hdpi"/>
    <splash src="res/android/splash-land-ldpi.png" density="land-ldpi"/>
    <splash src="res/android/splash-land-mdpi.png" density="land-mdpi"/>
    <splash src="res/android/splash-land-xhdpi.png" density="land-xhdpi"/>

    <splash src="res/android/splash-port-hdpi.png" density="port-hdpi"/>
    <splash src="res/android/splash-port-ldpi.png" density="port-ldpi"/>
    <splash src="res/android/splash-port-mdpi.png" density="port-mdpi"/>
    <splash src="res/android/splash-port-xhdpi.png" density="port-xhdpi"/>
  </platform>
  <!-- <platform name="ios">
    <icon src="res/ios/AppIcon.appiconset/Icon-40.png" width="40" height="40" />
    <icon src="res/ios/AppIcon.appiconset/Icon-40@2x.png" width="80" height="80" />
    <icon src="res/ios/AppIcon.appiconset/Icon-40@3x.png" width="120" height="120" />
    <icon src="res/ios/AppIcon.appiconset/Icon-60.png" width="120" height="120" />
    <icon src="res/ios/AppIcon.appiconset/Icon-60@2x.png" width="180" height="180" />
    <icon src="res/ios/AppIcon.appiconset/Icon-76.png" width="76" height="76" />
    <icon src="res/ios/AppIcon.appiconset/Icon-76@2x.png" width="152" height="152" />
    <icon src="res/ios/AppIcon.appiconset/Icon-Small.png" width="29" height="29" />
    <icon src="res/ios/AppIcon.appiconset/Icon-Small@2x.png" width="58" height="58" />
    <icon src="res/ios/AppIcon.appiconset/Icon-Small@3x.png" width="87" height="87" /> -->

    <!-- images are determined by width and height. The following are supported -->
    <!-- <splash src="res/ios/Default~iphone.png" width="320" height="480"/>
    <splash src="res/ios/Default@2x~iphone.png" width="640" height="960"/>
    <splash src="res/ios/Default-Portrait~ipad.png" width="768" height="1024"/>
    <splash src="res/ios/Default-Portrait@2x~ipad.png" width="1536" height="2048"/>
    <splash src="res/ios/Default-Landscape~ipad.png" width="1024" height="768"/>
    <splash src="res/ios/Default-Landscape@2x~ipad.png" width="2048" height="1536"/>
    <splash src="res/ios/Default-568h@2x~iphone.png" width="640" height="1136"/>
  </platform> -->

</widget>